! Font ----------------------------------------------

!#define FONT InconsolataLGC Nerd Font
#define FONT NotoSansMono Nerd Font
#define ICON InconsolataLGC Nerd Font Mono
#define EMOJI Noto Color Emoji
#define NERD_FONT Font Awesome 5 Brands
#define FONT_SIZE 12
#define ICON_SIZE 12
#define EMOJI_SIZE 12
#define NERD_SIZE 14

URxvt.font: xft:FONT:style=Regular:size=FONT_SIZE:antialias=true, xft:ICON:size=ICON_SIZE:antialias=true, xft:NERD_FONT:size=NERD_SIZE:antialias=true, xft:EMOJI:size=EMOJI_SIZE:antialias=true
URxvt.boldFont: xft:FONT:style=Bold:size=FONT_SIZE:antialias=true, xft:ICON:size=ICON_SIZE:antialias=true, xft:NERD_FONT:size=NERD_SIZE:antialias=true, xft:EMOJI:size=EMOJI_SIZE:antialias=true
URxvt.italicFont: xft:FONT:style=Italic:size=FONT_SIZE:antialias=true, xft:ICON:size=ICON_SIZE:antialias=true, xft:NERD_FONT:size=NERD_SIZE:antialias=true, xft:EMOJI:size=EMOJI_SIZE:antialias=true
URxvt.boldItalicFont: xft:FONT:style=Bold Italic:size=FONT_SIZE:antialias=true, xft:ICON:size=ICON_SIZE:antialias=true, xft:NERD_FONT:size=NERD_SIZE:antialias=true, xft:EMOJI:size=EMOJI_SIZE:antialias=true

Xft.dpi           : 96
Xft.antialias     : true
Xft.rgba          : rgb
Xft.autohint      : true
Xft.lcdfilter     : lcddefault
Xft.hinting       : true
Xft.hintstyle     : hintslight
URxvt.letterSpace : 0

! Color -------------------------------------------

#include "/home/josh/.urxvt/purify.Xresources"
!#include "/home/josh/.urxvt/blue.Xresources"
!#include "/home/josh/.urxvt/purple.Xresources"
!#include "/home/josh/.urxvt/nord.Xresources"

!URxvt.foreground       : #ffffff
!URxvt.background       : #2E3440
!URxvt.cursorColor      : #ffffff
URxvt.highlightReverse : true

! Settings -----------------------------------

URxvt.perl-lib             : /usr/lib/urxvt/perl/
URxvt.iconFile             : /home/josh/.icons/HALODARK/apps/scalable/terminal.svg
!URxvt.backgroundPixmap     : /home/josh/.urxvt/borders/3422.jpg
URxvt.windowName           : urxvt
URxvt.windowTitle          : urxvt
URxvt.termName             : rxvt-256color
URxvt.borderLess           : false
!URxvt.internalBorder       : 5
!URxvt.externalBorder       : 30
!URxvt.geometry             : 74x14
URxvt.skipBuiltinGlyphs    : false
URxvt.scrollTtyKeypress    : true
URxvt.scrollTtyOutput      : false
URxvt.scrollWithBuffer     : true
URxvt.scrollstyle          : plain
URxvt.scrollBar            : floating
URxvt.urgentOnBell         : true
URxvt.visualBell           : true
URxvt.saveLines            : 10000
URxvt.mouseWheelScrollPage : false
URxvt.cursorBlink          : true
!URxvt.inheritPixmap        : false
URxvt.transparent          : false
URxvt.shading              : 0
URxvt.depth                : 32
URxvt.secondaryScreen      : 1
URxvt.secondaryScroll      : 0
URxvt.iso14755             : false
URxvt.iso14755_52          : false

! Extensions [/usr/lib/urxvt/perl]
URxvt.perl-ext-common: default,clipboard,keyboard-select,url-select,font-size

! Clipboard [Ctrl+Shift+C/V]
URxvt.clipboard.copycmd  : xclip -i -selection clipboard
URxvt.clipboard.pastecmd : xclip -o -selection clipboard
URxvt.keysym.C-S-C       : perl:clipboard:copy
URxvt.keysym.C-S-V       : perl:clipboard:paste

! Keyboard-select
URxvt.keysym.C-Escape           : perl:keyboard-select:activate
URxvt.keysym.C-S-S              : perl:keyboard-select:search
URxvt.keyboard-select.clipboard : true

! Url-select
URxvt.keysym.C-S-N         : perl:url-select:select_next
URxvt.url-select.autocopy  : true
URxvt.url-select.button    : 1
URxvt.url-select.launcher  : $BROWSER
URxvt.url-select.underline : true

! Font-size
URxvt.keysym.C-Up     : font-size:increase
URxvt.keysym.C-Down   : font-size:decrease
URxvt.keysym.C-S-Up   : font-size:incglobal
URxvt.keysym.C-S-Down : font-size:decglobal
URxvt.keysym.C-equal  : font-size:reset
URxvt.keysym.C-slash  : font-size:show

! Kuake
!URxvt.kuake.hotkey: F10

! Tabbed
!URxvt.tabbed.tabbar-fg : 7
!URxvt.tabbed.tabbar-bg : 8
!URxvt.tabbed.tab-fg    : 7
!URxvt.tabbed.tab-bg    : 8
