! Font ----------------------------------------------

URxvt.font: xft:NotoSansMono Nerd Font:style=Regular:size=12, xft:Iosevka Nerd Font:style=Regular:size=14, xft:InconsolataForPowerline Nerd Font:style=Medium:size=14, xft:FontAwesome:style=Regular:size=14, xft:Noto Color Emoji:style=Regular:size=14
URxvt.boldFont: xft:NotoSansMono Nerd Font:style=Bold:size=12, xft:Iosevka Nerd Font:style=Regular:size=14, xft:InconsolataForPowerline Nerd Font:style=Medium:size=14, xft: FontAwesome:style=Regular:size=14, xft:Noto Color Emoji:style=Regular:size=14
URxvt.italicFont: xft:NotoSansMono Nerd Font:style=Italic:size=12, xft:Iosevka Nerd Font:style=Regular:size=14, xft:InconsolataForPowerline Nerd Font:style=Medium:size=14, xft:FontAwesome:style=Regular:size=14, xft:Noto Color Emoji:style=Regular:size=14
URxvt.boldItalicFont: xft:NotoSans Nerd Font:style=SemiCondensed SemiBold Italic:size=14, xft:Iosevka Nerd Font:style=Regular:size=14, xft:InconsolataForPowerline Nerd Font:style=Medium:size=14, xft:FontAwesome:style=Regular:size=14, xft:Noto Color Emoji:style=Regular:size=14

Xft.dpi           : 96
Xft.antialias     : true
Xft.rgba          : rgb
Xft.autohint      : true
Xft.lcdfilter     : lcddefault
Xft.hinting       : true
Xft.hintstyle     : hintslight
URxvt.letterSpace : 0

! Color -------------------------------------------

#include "/home/josh/.urxvt/idle_toes.Xresources"

!URxvt.foreground       : #ffffff
!URxvt.background       : #2E3440
!URxvt.cursorColor      : #ffffff
URxvt.highlightReverse : true

! Settings -----------------------------------

URxvt.perl-lib             : /usr/lib/urxvt/perl/
URxvt.iconFile             : /home/josh/.icons/Custom/terminal1.svg
!URxvt.backgroundPixmap     : /home/josh/.urxvt/borders/3422.jpg
URxvt.windowName           : urxvt
URxvt.windowTitle          : urxvt
URxvt.termName             : rxvt-unicode-256color
URxvt.borderLess           : false
!URxvt.internalBorder       : 5
!URxvt.externalBorder       : 30
!URxvt.geometry             : 74x14
URxvt.skipBuiltinGlyphs    : false
URxvt.scrollTtyKeypress    : true
URxvt.scrollTtyOutput      : false
URxvt.scrollWithBuffer     : true
URxvt.scrollstyle          : plain
URxvt.scrollBar            : floating
URxvt.urgentOnBell         : true
URxvt.visualBell           : true
URxvt.saveLines            : 10000
URxvt.mouseWheelScrollPage : false
URxvt.cursorBlink          : true
!URxvt.inheritPixmap        : false
URxvt.transparent          : false
URxvt.shading              : 0
URxvt.depth                : 32
URxvt.secondaryScreen      : 1
URxvt.secondaryScroll      : 0
URxvt.iso14755             : false
URxvt.iso14755_52          : false

! Extensions [/usr/lib/urxvt/perl]
URxvt.perl-ext-common: default,clipboard,keyboard-select,url-select,font-size

! Clipboard [Ctrl+Shift+C/V]
URxvt.clipboard.copycmd  : xclip -i -selection clipboard
URxvt.clipboard.pastecmd : xclip -o -selection clipboard
URxvt.keysym.C-S-C       : perl:clipboard:copy
URxvt.keysym.C-S-V       : perl:clipboard:paste

! Keyboard-select
URxvt.keysym.C-Escape           : perl:keyboard-select:activate
URxvt.keysym.C-S-S              : perl:keyboard-select:search
URxvt.keyboard-select.clipboard : true

! Url-select
URxvt.keysym.C-S-N         : perl:url-select:select_next
URxvt.url-select.autocopy  : true
URxvt.url-select.button    : 1
URxvt.url-select.launcher  : brave
URxvt.url-select.underline : true

! Font-size
URxvt.keysym.C-Up     : font-size:increase
URxvt.keysym.C-Down   : font-size:decrease
URxvt.keysym.C-S-Up   : font-size:incglobal
URxvt.keysym.C-S-Down : font-size:decglobal
URxvt.keysym.C-equal  : font-size:reset
URxvt.keysym.C-slash  : font-size:show

! Kuake
!URxvt.kuake.hotkey: F10

! Tabbed
!URxvt.tabbed.tabbar-fg : 7
!URxvt.tabbed.tabbar-bg : 8
!URxvt.tabbed.tab-fg    : 7
!URxvt.tabbed.tab-bg    : 8
